/* cap 2 */
.chuyende_giua{border-top:5px solid #C7C8CA;margin:15px 10px 0px 0px;padding-top:10px;}
.chuyende_giua img{float:left;margin-right:5px;}
.chuyende_giua span{font-size:13px;}
.chuyende_giua a{color:#135CA9;font-weight:bold;font-size:14px;}
.chuyende_giua_title{text-transform:uppercase;color:#646567;font-weight:bold;font-size:16px;}
.chuyende_giua_new{padding-top:5px;}
.chuyende_vt6{border-top:5px solid #C7C8CA;margin:15px 10px 0px 0px;padding-top:10px;}
.chuyende_vt6 img{float:left;margin-right:4px;}
.chuyende_vt6 a{font-size:14px;font-weight:bold;}
.chuyende_vt6_item{padding:10px 0px;clear:both;}

/* cap 1 */
.imgTop1{float:left;}
#chuyendemoinhat{width:180px; float:left;padding:0px 25px 0 15px;}
#demuc{width:295px; float:left; border-top:5px solid #C7C8CA; padding-top:15px;}
.new_demuc{width:295px; float:left; margin-top:15px;}
.title_demuc{width:205px; float:left;padding-left:10px;}
#chuyendecu{width:635px; float:left; margin:0px 0px 10px 0px;}
.chuyendetieptheo{float:left; border-top:5px solid #C7C8CA; padding-top:10px; width:290px; margin-right:20px;}
/* cap 3 */
