
#tabbed_box_1 {
	width:296px;
}
.tabbed_area {
}

ul.tabs {
	margin:0px; padding:0px;
	margin-top:5px;
	margin-bottom:0px;
}
ul.tabs li {
	list-style:none;
	display:inline;
}
ul.tabs li a 
{
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius-topleft:5px; 
    -webkit-border-top-left-radius:5px;
	background-color:#dedfe1;
	color:#616264;
	padding:4px 14px 4px 14px;
	text-decoration:none;
	font-size:13px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	background-image:url(images/tab_off.jpg);
	background-repeat:repeat-x;	 
	background-position:bottom;
}
ul.tabs li a:hover {
	background-color:#C6C7C9;
}
ul.tabs li a.active {
	background-color:#C6C7C9;
	color:#616264;
	background-image:url(images/tab_on.jpg);
	background-repeat:repeat-x;
	background-position:top;	
}
.content 
{
    margin-top:2px;
	background-color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	background-image:url(images/content_bottom.jpg);
	background-repeat:repeat-x;	 
	background-position:bottom;	
	float:left;
}
#content_2, #content_3 { display:none; }

.content ul {
	margin:0px;
	padding:0px 20px 0px 20px;
}
.content ul li {
	list-style:none;
	border-bottom:1px solid #d6dde0;
	padding-top:15px;
	padding-bottom:15px;
	font-size:13px;
}
.content ul li:last-child {
	border-bottom:none;
}
.content ul li a {
	text-decoration:none;
	color:#3e4346;
}
.content ul li a small {
	color:#8b959c;
	font-size:9px;
	text-transform:uppercase;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	position:relative;
	left:4px;
	top:0px;
}
.content ul li a:hover {
	color:#a59c83;
}
.content ul li a:hover small {
	color:#baae8e;
}
